//fix this admin.ejs file to make it work with the admin.js file

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Story Time</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Admin Page</h1>
    <form>
        <label for="story_id">Story ID</label>
        <input type="text" id="story_id" name="story_id" value="1">
        <label for="story_title">Story Title</label>
        <input type="text" id="story_title" name="story_title" value="The Story of the Three Little Pigs">
        <label for="story_text">Story Text</label>
        <input type="text" id="story_text" name="story_text" value="Once upon a time, there were three little pigs.">
        <label for="story_image">Story Image</label>
        <input type="text" id="story_image" name="story_image" value="https://www.thespruce.com/thmb/7JY9ZbLdZ0z0f1J6FpB6RyjKwF8=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/three-little-pigs-illustration-5b6f0b9c46e0fb00514a3b3f.jpg">
        <label for="story_audio">Story Audio</label>
        <input type="text" id="story_audio" name="story_audio" value="https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3">
        <label for="story_author">Story Author</label>
        <input type="text" id="story_author" name="story_author" value="Jack">
        <label for="story_author_image">Story Author Image</label>
        <input type="text" id="story_author_image" name="story_author_image" value="https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3">
        <label for="story_author_bio">Story Author Bio</label>
        <input type="text" id="story_author_bio" name="story_author_bio" value="Jack is a writer.">
        <button type="submit" id
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Story Time</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h