<!DOCTYPE html>
<html>
  <head>
    <title>Clarissa in Pigville: Sopping with Nana</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Clarissa in Pigville: Shopping with Nana">
    <meta property="og:description" content="Page images for the story">
    <meta property="og:image" content="/images/sunlight.jpg">
  </head>
  <body>
    <h1>Clarissa in Pigbille</h1>
    <h2>Shopping with Nana</h2>
    <div>
      <% for(var i=0; i < stories.length; i++) { %>
        <img
          class="clarissa-images"
          src="images/<%= stories[i].image %>" />
        <div 
          class="story-containers">
          <p 
            class="stories"
          ><%- stories[i].text %></p>
        </div>
      <% } %>
    </div>
</html>
