<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Story Time</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Story Time</h1>
  <h2>Stories</h2>
  <% for(let i=0; i < stories.length; i++) { %>
    <h3>
      <%= stories[i].title %>
    </h3>
    <p>
      <%= stories[i].story %>
    </p>
    <img src="<%= stories[i].image %>">
    <% } %>
</body>

</html>